body{
    background-color: #c9dce8;
}

.title{
    height: 10%;
    line-height: 100px;
    font-size: 50px;
}

.content{
    height: 80%;
}

.list-group{
    height: 450px;
}

form {
    padding : 1em 0;
}

.image-list{
    margin: 1em 0;
}

input[type="checkbox"]{
    position: absolute;
    height: 100%;
    width: 100%;
    margin: -.75rem -1.25rem;
    opacity: 0;
}

#modifyCollect button{
    margin-bottom: 10px;
    margin-right: 5px;
}

#createCollect{
    margin-bottom: 10px;
}

img{
    margin: 0 auto;
    max-width: 60vw;
}