{% block list_block %}
    <table>
        
        {% for a in list %}
        <tr>
            <td>{{ a.matricule }}</td>
            <td>{{ a.nom }}</td>
            <td>{{ a.prenom }}</td>
        </tr>
        {% else %}<tr>
            <td>Aucun {{ label }} n'a été trouvé.</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}